name: Unit tests

on:
  push:
    branches: [ '**' ]
  pull_request:
    branches: [ '**' ]

jobs:
  linting:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3

      - name: Set up Python 3.10
        uses: actions/setup-python@v3
        with:
          python-version: "3.10"

      - name: Install required packages
        run: pip install flake8 pep8-naming black isort

      - name: Run flake8
        run: flake8

      - name: Run black
        run: black .

      - name: Run isort
        run: isort .

  build:
    name: Python ${{ matrix.python-version }}, django ${{ matrix.django-version }}
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        python-version: [3.7, 3.8, 3.9, '3.10']
        django-version: [22, 30, 31, 32, 40, 41]

        exclude:
          - python-version: 3.7
            django-version: 40
          - python-version: 3.7
            django-version: 41

    steps:
      - uses: actions/checkout@v3
      - name: setup python
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install tox
        run: pip install tox
      - name: Run Tests
        env:
          TOXENV: django${{ matrix.django-version }}
        run: tox
